<div class="resume-header px-4 px-lg-5">
    <div class="resume-profile-holder text-center">
        <img class="resume-profile-pic rounded-circle" src="./images/me.jpg" alt="image">
        <h2 class="resume-name text-uppercase">Mauri Melo </h2>
        <div class="resume-role-title text-uppercase">Software Engineer | Data Engineer | Cloud
        </div>
        <div class="resume-contact mt-4">
            <ul class="resume-contact-list list-unstyled list-inline mb-0 justify-content-between">
                <li class="list-inline-item me-md-3 me-lg-5">
                    <i class="resume-contact-icon bi bi-envelope me-2"></i>
                    <a href="mailto:maurimmelo@gmail.com">
                        maurimmelo@gmail.com
                    </a>
                </li>
                <li class="list-inline-item me-lg-5"><i
                        class="resume-contact-icon bi bi-globe me-2"></i>
                    <a href="https://www.linkedin.com/in/mauri-melo/"
                        target="_blank">www.linkedin.com/in/mauri-melo/</a>
                </li>
            </ul>
        </div>
    </div>
</div>